<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<footer class="site-footer custom-border-top" th:fragment="footer">
    <div class="container">
        <div>
            <div class="row">
                <ul class="footer-menu">
                    <li><a href="/">영상정보처리기기 운영|처리방침</a></li>
                    <li><a href="/">개인정보처리방침</a></li>
                    <li><a href="/">멤버스 이용약관</a></li>
                    <li><a href="/">가맹 안내</a></li>
                    <li><a href="/">Sitemap</a></li>
                    <li><a href="/">점주의 방</a></li>
                </ul>
                <ul CLASS="footer-logo">
                    <h2 style="font-family: IM Fell English;">Coffee</h2>
                </ul>
                <ul class="footer-list">
                    <li>
                        <p>대한민국 국민의 힘으로 정부를 무찌르고 모두 잘 살자 &emsp;|&emsp; TEL : 02-543-6436 &emsp;|&emsp; FAX : 02-484-4814</p>
                    </li>
                    <li>
                        <p>사업자 등록번호 : 198-29-29743&emsp;|&emsp; 통신판매업 신고 : 강남 제 420494호&emsp;|&emsp;대표이사 : 홍사준</p>
                    </li>
                    <li>
                        <p> @ 2024 COFFEE COMPANY. ALL RIGHTS RESERVED. </p>
                    </li>
                </ul>
            </div>
        </div>
    </div>

</footer>
</html>
